@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&display=swap');

.Header{
    display:flex;
    align-items:center;
    color:white;
    background-color:black;
    top: 0;
    position:sticky;
    z-index: 2000;

}

.header__left{
    flex:0.4;
}
.header__left > h1{
    text-align: center;
    font-family: "alata", sans-serif;
    letter-spacing: 1px;
    padding: 20px 0;
}

.header__left > h1 > span{
    color:brown;
}

.header__right{
    display: flex;
    flex: 0.6;
    letter-spacing: 2px;
    justify-content: space-evenly;
    align-items: center;
}
.header__right > a>h4{
    font-size: 18px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    font-family: "crimson text"serif;
    padding: 20px 0;
    letter-spacing: 1px;

}
.header__right > a>h4:hover{
    transform: scale(1.09);
    background-color: brown;
    color: white;
    padding:5px 20px;
    border-radius: 2px;
    letter-spacing: 1px;
    font-family: "crimson text"serif;
    font-size: 18px;
    cursor: pointer;
}
.header__rightbutton{
    background-color: brown;
    color: white;
    padding: 5px 20px;
    border-radius: 2px;
    cursor: pointer;
}
