@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
}
.Skillcontainer__text{
    color:white;
    flex:0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;

}
.Skillcontainer__text > h2{
    font-size: 30px;
}
.Skillcontainer__image{
    flex: 0.4;
    text-align: center;
    margin-right: 100px;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;

}
.Skillcontainer__image > img{
    width: 600px;
    border-radius: 3px;
    object-fit: contain;
}
.skillcontainer__skillset > h5{
    font-family: "Montserrat" sans-serif;
    font-weight: 300;
   
    
}
.skillcontainer__slider > .MuiLinearProgress-colorPrimary{
    background-color: rgb(88, 88, 88);
}
